---
name: Testing Report
about: After User Story Milestone, tests should be completed for each feature before
  moving on.
title: 'TEST:'
labels: documentation
assignees: ''

---

**What features need to be tested?**
- [ ] <!--- Feature 1 --->
- [ ] <!--- Feature 2 --->
- [ ] <!--- Feature 3 --->

**What does the test include?**
- [ ] Fixtures
- [ ] Stubbing
- [ ] Snapshots
- [ ] Other:
