$background-color: #008080;
$title-blue: #000080;
$title-font-white: #FFF;
$background-grey: #C0C0C0;
$dark-grey: #808080; 
$main-font: "MS Sans Serif";
$button-border: $title-font-white $dark-grey $dark-grey $title-font-white;

@mixin body-button-95 {
  font-family: $main-font;
  font-size:11px;
  outline:1px solid #000000;
  background: $background-grey;
  border-width:1px;
  border-style:solid;
  border-color: $button-border;
  padding:4px 10px;
  margin:20px auto 3px;
  display:block;
  position:relative;
  bottom:0px;

    &:focus{
    outline:none;
  }
}

@mixin title-button-95 {
  margin:2px 2px 2px 0;
  float:right;
  width:14px;
  height:13.5px;
  background:$background-color;
  border-width:1px;
  border-color: $button-border;
  padding:0;
  font-size:9px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
  focus: none;

  &:focus{
    outline:none;
  }
}

@mixin box-95($width, $height) {
  width:$width;
  height:$height;
  background:$background-grey;
  border-width:1px;
  border-color: $button-border;
  border-style:solid;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:1px;
}

@mixin box-title-95 {
  height:18px;
  width:100%;
  background:#000080;
  color:#FFF;
}

